*{
				margin:0;
}
body {
				background-image:url(bg2.jpg) ;
		
}
.pp {
				background-image:url(br2.jpg);
				width: 200px;
				height: 200px;
				margin:auto;
				margin-top:40%;
				border-radius:50%;
				border:3px solid white;
}
.wa{
				background-image:url(wa.png);
				width: 50px;
			
}

table{
				margin:auto;
				margin-top: 50px;			
				width: 80%;
		
				
			
}
.link table td{
				border:5px solid black;	
				height: 100px;
			  width: 80%;
				background: #595961;
				color: white;
				font-size:30px;
				
}

.link table td a{
			  display:block;
			  text-decoration:none;
				color:white;
				text-align:center;
}
 h4{
				text-align:center;
				position: relative;
				margin-top: 70%;
				font-size: 30px;
				color: #ffffff;
}
